@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #B22222;
    padding: 20px 0;
    margin-bottom: 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.ajuste {
    display: inline-block;
}

.logo {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.logo img {
    background-color: #FFF;
    border-radius: 100%;
    padding: 20px;
}

.logo small {
    color: #FFF;
    margin-left: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
    transition: 200ms;
}

.main-text {
    background-color: #696969;
    padding: 20px 10px;
    color: #FFF;
    text-align: justify;
    margin-top: 40px;
}

.main-text p, h2 {
    margin-bottom: 15px;
}

.main-text h2 {
    text-align: left;
}

.galery {
    padding: 20px;
}

.galery h1 {
    text-align: center;
    margin-bottom: 40px;
}

.galery-img {
    border: #CCC solid 1px;
    width: 150px;
    height: 200px;
    text-align: center;
    border-radius: 8px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.alinhar-img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alinhar-img span {
    margin: 10px;
}

.map {
    text-align: center;
    padding: 40px;
}

.map h2 {
   margin-bottom: 20px;
   color: #696969;
}

.sobre-dbc {
    text-align: center;
    padding: 20px;
}

.sobre-dbc h1 {
    color: #696969;
    margin-bottom: 15px;
}

.texto {
    text-align: justify;
    padding: 20px 10px;
}

.texto p {
    margin-bottom: 15px;
}

.caixa-form {
    border: #CCC solid 1px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input, textarea {
    margin-bottom: 25px;
}

.caixa1 input {
    line-height: 30px;
}

.save-button {
    background-color: #B22222;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    border-radius: 5px;
    border: none;
}

.save-button:hover {
    background-color: #FF6347;
    color: #000;
    font-weight: bold;
}

select {
    height: 34px;
    margin-bottom: 25px;
}

.caixa2 {
    width: 600px;
    margin-left: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.caixa2 img {
    width: 50%;
    
}

.container h2 {
    margin-top: 20px;
}

.formulario .container h2 {
    text-align: center;
}

footer {
    background-color: #B22222;
    padding: 40px;
    color: #FFF;
    margin-top: 30px;
}

footer nav {
    margin-bottom: 20px;
}

