@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFF3F8;
}

/* Elementos do Topo da página */
header {
    background: url(../img/patternECOStransparente.png), linear-gradient(176deg, rgba(45,95,163,1) 0%, rgba(115,174,90,1) 100%);
    padding: 3px 16px;
    margin-bottom: 15px;
    color: #FFF;
    height: 44.3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #FFF;
}

/* Primeiro menu Nav */
.menu-topo nav ul, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-topo nav ul li {
    list-style: none;
    padding-right: 25px;
}

.menu-topo nav ul li i {
    margin-right: 5px;
}

.menu-topo ul li a {
    padding: 13px 8px;
}

.menu-topo ul li a:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    padding: 13px 8px;
}

nav ul li img {
    width: 105px;
    height: 36px;
    margin-top: 1px;
}

.link-hamburguer {
    font-size: 20px;
    font-weight: bold;
}

/* Elementos do formulário */
input {
    width: 400px;
    height: 15px;
    padding: 8px;
    background: rgba(53, 107, 101, 0.5);
    border-radius: 3px;
    border: 0;
}

input::placeholder {
    color: #FFF;
}

form span {
    position: absolute;
    margin-left: -23px;
    margin-top: 6px;
    font-size: 14px;
}

/* Segundo meno Nav */
.menu-topo2 ul li {
    list-style: none;
    margin-left: 8px;
}

.menu-topo2 .sino {
    font-size: 25px;
}

.usuario i:first-child {
    font-size: 35px;
}

.menu-topo2 ul li a {
    padding: 8px;
}

.menu-topo2 ul li a:hover {
    cursor: pointer;
    text-shadow: 0 0 0.8em #356b65, 0 0 0.8em #356b65;
}

/* Parte principal da página ECOS */
main {
    display: grid;
    gap: 10px;
    grid-template-columns: 60% 40%;
    max-width: 1200px; 
    margin: auto;
}

main section {
    width: 100%;
    height: 400px;
}

/* Section 1: Cards de Notícias Recentes */
.container {
    width: 100%;
    height: auto;
    background-color: #f9f9fb;
    border-radius: 5px 5px 0 0;
    filter: drop-shadow(1px 2px 3px #887D7D);
    margin: auto;
}

.titulo-container {
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.card-container {
    width: 720px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container a {
    text-decoration: none;
    color: #000;
}

.card {
    height: 216px;
    width: 680px;
    margin: 10px auto;
    /* padding: 10px; */
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 3px #CCC;
}

.titulo-card h5 {
    padding-top: 13px;
    padding-bottom: 15px;
    font-size: 16px;
}

.image-card {
    display: block;
    /* overflow: hidden; */
    height: 200px;
    width: 200px;
    border-radius: 5px 0 0 5px;
}

.image-card img {
    width: 200px;
    height: 216px;
}

.meta-container {
    padding: 0 10px 0 10px;
    flex: 1;
    position: relative;
}

.meta-container p {
    font-size: 15px;
    text-align: justify;
    margin: 5px 0 10px;
}

.social-date {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 34px;
    width: auto;
    display: flex;
    color: #887D7D;
}

.social-date .date, .social-date .heart, .social-date .comment, .social-date .view {
    width: auto;
    height: 30px;
    margin: 1.4px 5px;
    cursor: pointer;
}

.social-date .heart i {
    margin-left: 256px;
    color: #FF0000;
}

.menu-sistemas-processos {
    width: 470px;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-links {
    width: 120px;
    height: 100px;
    background-color: #f9f9fb;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(1px 2px 3px #887D7D);
}

.menu-links i {
    font-size: 38px;
    color: #73ae50;
}

.menu-links small {
    font-size: 13px;
    color: #73ae50;
    font-weight: bold;
}




